.header-cinestar {
  padding: 0 150px;
  background-color: #0c0b1f;
  color: white;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* PHẦN TRÊN */
.header-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0 ;
  flex-wrap: wrap;
  gap: 8px;
}

.header-left img{
  width: 75px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.header-actions {
  display: flex;
  gap: 12px;
  margin-left: 120px;
}

.btn-ticket {
  background-color: #eff600;
  color: #000;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-popcorn {
  background-color: #8200d8;
  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.header-search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 4px 12px;
  width: 250px;
}

.header-search input {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px;
  border-radius: 20px;
  font-size: 14px;
}
.header-search .ant-input-search-button {
  border: none;
} 
.header-login{
  font-size: 20px;
}
.header-account{
  display: flex;
  margin-left: 200px;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  gap: 50px;
}
.header-lang img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* PHẦN MENU */
.header-menu {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.header-menu a:hover {
  color: #fdd835;
}
.khuyen_mai{
  margin-left: 450px;
}
/* footer */
.cinestar-footer {
  background-color: #490889;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;
}

.footer-logo {
  flex: 1 1 300px;
  margin-bottom: 20px;
}
.footer-logo img {
  max-width: 180px;
  margin-bottom: 10px;
}
.footer-logo p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex: 2 1 600px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links h4 {
  color: #f2c94c;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #f2c94c;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: #888;
}
.footer-logo img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

