@import url("login.css");

.main-layout{
  min-height: 100vh;
}
/* footer */
.cinestar-footer {
  background-color: #490889;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;
}

.footer-logo {
  flex: 1 1 300px;
  margin-bottom: 20px;
}
.footer-logo img {
  max-width: 180px;
  margin-bottom: 10px;
}
.footer-logo p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex: 2 1 600px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links h4 {
  color: #f2c94c;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #f2c94c;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: #888;
}
.footer-logo img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

