.main-layout {
  min-height: 100vh;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: white;
}
.imgMain {
  width: 106px;
  height: 37px;
}
.search{
  padding: 50px;
}
.searchInput{
  height: 40px;
  background-color: #F4F5F8;
  border: white;
  width: 300px;
  font-size: 15px;
  padding-left: 20px;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 25px; /* Giảm khoảng cách giữa logo và nút */
}
.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.menu {
  padding-top: 20px;
  font-size: 16px;
}

.sider {
  background: white;
}

.content {
  background: #f5f5f5;
  padding: 20px;
  min-height: 100%;
  border-radius: 8px;
}
.button-search{
  margin-left: 10px;
}
.user-info{
  display: flex;
  align-items: center;
  width: 250px;
  gap: 20px;
}
.flag img{
  width: 30px;
  height: 30px;
}

.add-movies{
  background-color: #43b9b2;
  color: white;
  font-weight: bold;
  text-align: right;
  margin-left: 10px;
}
.table{
  margin-top: 10px;
}
.export-file{
 background-color: #43b9b2;
  color: white;
}
.action-movie{
  display: flex;
  justify-content: flex-end;
}
.form-row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.form-col {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btn-add{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.add-category-chair{
  background-color: #43b9b2;
  color: white;
  font-weight: bold;
  text-align: right;
  margin-bottom: 15px;
}
.btn-category-chair{
  text-align: right;
  display: flex;
  justify-content: flex-end;
}