.home-wrapper {
  background-color: #1a0933;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* Banner chính */
.banner-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Section wrapper */
.section {
    width: 100%;
  background-color: #1a0933;
  padding: 15px 10%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.section h3 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px; 
  font-weight: 500;
}

/* 2 nút bấm chuyển tab phim */
.movie-tabs {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 50px 0 60px;
}

.tab-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 38px;
  letter-spacing: 1px;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  color: white;
  position: relative;
  padding: 0;
  transition: color 0.3s ease;
}

/* Không có hover */
.tab-btn:hover {
  color: white;
}

/* Gạch chân chỉ hiện khi active */
.tab-btn::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background:linear-gradient(to right, #fff, yellow);
  transition: width 0.3s ease;
  opacity: 0;
}
.tab-btn.active {
  color: yellow; /* Màu chữ trùng màu gạch dưới */
}

.tab-btn.active::after {
  width: 100%;
  opacity: 1;
}


/* ==========================
   THẺ PHIM ĐANG CHIẾU / SẮP CHIẾU
========================== */
.movie-card {
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* Wrapper cho poster */
.movie-poster-wrapper {
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
/* Nút chuyển trang */
.swiper-button-next,
.swiper-button-prev {
  font-weight: 600;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

/* Phải style thêm ::after vì Swiper dùng icon qua pseudo-element */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px; /* nhỏ hơn mặc định là 20-24px */
  color: yellow;
}

/* Ảnh phim */
.movie-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Overlay khi hover */
.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.movie-poster-wrapper:hover .movie-overlay {
  opacity: 1;
}

.movie-poster-wrapper:hover img {
  transform: scale(1.05);
}
/* Lớp phủ đen từ dưới lên (ẩn mặc định) */
.movie-poster-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
}

/* Hiện lớp phủ khi hover */
.movie-poster-wrapper:hover::after {
  opacity: 1;
}

/* Nút play trên overlay */
.play-overlay-button {
  border: none;
  color: #ccc;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2; /* TRÊN CÙNG */
}

.play-overlay-button:hover {
  background: transparent;
  transform: scale(1.05);
}

/* Tên phim */
.movie-title {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 8px 0;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movie-title:hover {
  color: yellow;
}
.movie-card h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  min-height: 25px;
  letter-spacing: 0.5px;
}

/* Ngày chiếu / mô tả */
.movie-card p {
  font-size: 14px;
  color: #ccc;
}

.movie-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
}

/* Nút */
.movie-card .book-button {
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 0 25px;
  position: relative;
  height: 40px;
  background-color: #FFEB3B; /* màu nền ban đầu */
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: color 0.4s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.play-button{
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 0 25px;
  position: relative;
  height: 40px;
  background-color: transparent !important; /* màu nền ban đầu */
  color: #fff !important;
  border: 1px solid #fff !important;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: color 0.4s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.movie-card .play-button::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, #f77904, #e7bf3c) !important;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.movie-card .book-button::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, #531dab, #9254de); /* màu khi hover */
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.movie-card button:hover::before {
  transform: scaleX(1);
}

.movie-card button:hover {
  color: #fff;
}

.movie-card button span {
  position: relative;
  z-index: 1;
}


/* Nút load more */
.loadmorebox {
  display: flex;
  justify-content: center;
}

.load-more-button{
  margin-top: 40px;
  width: 200px;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 15px;
  position: relative;
  height: 45px;
  background: linear-gradient(to right, #5d0eeb, #a943ec);
  color: #fff !important;
  border: none !important;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: color 0.4s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.load-more-button::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, #f77904, #e7bf3c) !important;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.load-more-button::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, #531dab, #9254de); /* màu khi hover */
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.load-more-button:hover::before {
  transform: scaleX(1);
}

.load-more-button:hover {
  color: #fff;
}

.load-more-button span {
  position: relative;
  z-index: 1;
}
/* ==========================
   PHẦN GIỚI THIỆU ĐẶC BIỆT
========================== */
.featured-movie {
  position: relative;
  margin: 60px 0;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.featured-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  filter: brightness(0.9);
}

.featured-movie:hover .featured-img {
  filter: brightness(1);
}

.featured-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.featured-content {
  color: #fff;
  text-align: center;
  max-width: 720px;
}

.featured-content h2 {
  color: #fff;
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 16px;
  font-family: "Anton", sans-serif;
}

.featured-content p {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

.featured-button {
  background: linear-gradient(to right, #9e06f0, #f506e9);
  border: none;
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}



.featured-button a {
  color: #fff;
  text-decoration: none;
}

.featured-button:hover {
  background: linear-gradient(to right, #f77904, #e7bf3c);
  box-shadow: 0 0 15px rgba(255, 75, 43, 0.7);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ==========================
   PHẦN LIÊN HỆ
========================== */
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 10%;
  background-color: #1e0033;
  color: white;
  margin-top: 40px;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-left p {
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.social-icon {
  margin-bottom: 12px;

}

.social-icon img {
  width: 200px;
}
.social-icon span {
  font-size: 40px;
  color: #fff;
  font-family: 'Anton', sans-serif;
}

.fb-icon,
.zl-icon{
  border: 1px solid yellow;
  border-radius: 4px;
  height: 100px;
  margin: 25px 40px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 24px rgb(149 157 165 / 40%);
}

.contact-right {
  flex: 1;
  background-color: rgba(51,102,204,.8);
  padding: 40px; /* padding đều 4 phía */
  border-radius: 4px;
  box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.contact-right h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

.contact-right p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.contact-right p img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.contact-right input {
  height: 50px;
  /* ...các style khác... */
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 35px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  color: #000;
}


.contact-right input:focus,
.contact-right textarea:focus {
  outline: none;
  border: 2px solid #fff;
}

.contact-right textarea {
  min-height: 150px;
}

.contact-btn {
  font-size: 15px;
  padding: 0 25px;
  position: relative;
  font-family: 'Anton', sans-serif;
  height: 40px;
  background-color: #FFEB3B; /* màu nền ban đầu */
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: color 0.4s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 200px;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, #531dab, #9254de); /* màu khi hover */
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.contact-btn:hover::before {
  transform: scaleX(1);
}

.contact-btn:hover {
  color: #fff;
}

.contact-btn span {
  position: relative;
  z-index: 1;
}




/* RESPONSIVE (MOBILE)*/
@media (max-width: 768px) {
  .section {
    padding: 20px;
  }

  .movie-card img {
    height: 200px;
  }

  .movie-card h4 {
    font-size: 15px;
  }

  .movie-card p {
    font-size: 13px;
  }

  .contact-section {
    flex-direction: column;
    gap: 24px;
  }
}
/* Moviedetail */
.movie-detail-wrapper {
  background-color: #12092b;
  color: #ffffff;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.movie-detail-container {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  flex-wrap: wrap;
}

.movie-poster img {
  width: 320px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.movie-content {
  flex: 1;
  min-width: 300px;
}

.movie-content h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.movie-attributes {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.movie-attributes li {
  margin-bottom: 8px;
  font-size: 16px;
}

.movie-attributes span {
  font-weight: 600;
  margin-right: 5px;
}

.movie-age-warning {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0 20px;
}

.movie-section {
  margin-bottom: 20px;
}

.movie-section h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-section p {
  line-height: 1.6;
}

.trailer-button {
  background: #6f36e2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 8px 24px;
  transition: background 0.3s ease;
}

.trailer-button:hover {
  background: #e50946;
  color: #fff;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .movie-detail-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movie-content {
    text-align: left;
  }
}
/* search */
.search-page {
  padding: 40px;
  background-color: #12092b;
  color: white;
}

.poster-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #37297b;
}
/*lọc phim*/
.quick-booking-wrapper {
  background-color: #f0f4ff;
  border-radius: 10px;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px; /* tăng khoảng cách giữa các item */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Tiêu đề */
.quick-booking-title {
  font-weight: 800;
  font-size: 20px;
  color: #333;
  margin-right: 16px;
  white-space: nowrap;
}

/* Select Box */
/* QuickBooking.css */
.quick-booking-wrapper {
  background-color: #faf5f5;
  padding: 20px;
  border-radius: 8px;
  color: rgb(204, 197, 221);
}

.quick-booking-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.quick-booking-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quick-booking-form .ant-btn-primary {
  background-color: #c2dd2e;
  color: #000;
  font-weight: bold;
  border: none;
  height: 32px;
}
















